body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}


h1 {
    text-align: center;
    margin: 1rem 0;
    font-weight: 500;
}
