body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f0f0f0; */
    margin: 0;
    background-color: hsla(225, 100%, 94%, 0.801);
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading img {
    height: 4rem;
    
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: black;
}
